--index-url https://pypi.python.org/simple/

# Runtime
requests
paramiko
matplotlib
psycopg2

# For testing REST:
flask
fonttools>=4.61.0 # not directly required, pinned by Snyk to avoid a vulnerability
